#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text install
text
# Run the Setup Agent on first boot
firstboot --disable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8
logging --level=debug

# Network information
network  --bootproto=dhcp --device=enp0s3 --onboot=off --ipv6=auto --no-activate
network  --hostname=localhost.localdomain

# Root password
rootpw 123456
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Shanghai
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda

# Partition clearing information and raid
zerombr
clearpart --all --initlabel
part /boot --fstype ext4 --size 256
part swap --recommended
part pv.01 --size 100 --grow
volgroup centos pv.01
logvol / --vgname=centos --size 51200 --name=lv_root --grow
logvol /home --vgname=centos --size 51200 --name=lv_home

%packages
@^minimal
@core
@secsmart-platform
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post --log=/root/ks-post-jdk.log
#!/bin/sh
/usr/local/bin/install_secsmart_platform.sh install jdk
echo "/usr/local/bin/install_secsmart_platform.sh install mysql >> /root/secsmart_install.log" >> /etc/profile
# echo "/usr/local/bin/install_secsmart_platform.sh install all_in_one >> /root/secsmart_install.log" >> /etc/profile
%end
